@page "/Todo"
@rendermode InteractiveWebAssembly
@inject HttpService HttpService

<PageTitle>Todo List</PageTitle>

<h1>Todo List</h1>

@if (_Model == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="list-group">
        @foreach (var model in _Model)
        {
            <a href="/TodoItem/@model.TodoId" class="list-group-item list-group-item-action" >
                @model.Title
            </a>
        }
    </div>
}

@code {

    #region Varaibles

    private IEnumerable<TodoModel>? _Model = null;

    #endregion

    #region Methods

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _Model = await HttpService.HttpClient.GetFromJsonAsync<IEnumerable<TodoModel>>("/api/Todo/All") ?? [];
            StateHasChanged();
        }
    }

    #endregion
}